<article class="col-md-4 isotopeItem webdesign">
  <div class="portfolio-item">
  <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
    <img src="{{ fields.field_image.content }}" alt="welcome" />
  </div>
     <div class="portfolio-desc align-center">
      <div class="folio-info">
        <h5><a href="{{ fields.path.content }}">{{ fields.title.content }}</a></h5>
        <a href="{{ fields.path.content }}" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
       </div>                      
     </div>
  </div>
</article>