<div class="col-md-4">
<div class="wow bounceIn" data-animation-delay="4.8s">
  <div class="team-member">
    <div class="profile-picture">
      <figure><img src="{{ fields.field_image.content }}" alt=""></figure>
      <div class="profile-overlay"></div>
        <div class="profile-social">
          <div class="icons-wrapper">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
            <a href="#"><i class="fa fa-google-plus"></i></a>
          </div>
        </div>
    </div>
    <div class="team-detail">
      <h4> {{ fields.title.content }}</h4>
      <span>{{ fields.field_designation.content }}</span>
    </div>
    <div class="team-bio">
   {{ fields.body.content }}
    </div>
  </div>
</div>
</div>