<div class="row mar-bot40">
<div class="col-lg-4" >
  <div class="wow bounceIn">
    <div class="align-center">
  
      <div class="wow rotateIn">
        <div class="service-col">
          <div class="service-icon">
            <figure><i class="fa fa-cog"></i></figure>
          </div>
            <h2><a href="{{ fields.path.content }}">{{ fields.title.content }}</a></h2>
            {{ fields.body.content }}
        </div>
      </div>
    </div>
  </div>
</div>