<div class="header">
  <section id="header" class="appear">
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">GREEN
          </a></h1>
        </div>
        <div class="navbar-collapse collapse">
          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}  
        </div><!--/.navbar-collapse -->
      </div>    
  </section>
</div>
<div id="index">
  <!-- Responsive slider - START -->
  <div class="responsive-slider" data-spy="responsive-slider" data-autoplay="true">
    <div class="slides" data-group="slides"> 
    {% set page_slider =  page.home_slider|render|striptags|trim is not empty %}
      {% if page_slider %}
      {{page.home_slider}}
      {% else %}
        <ul>
<li>
  <div class="slide-body" data-group="slide">
    <img src="{{ base_path ~ directory }}/img/8.jpg" alt="">
    <div class="caption header" data-animate="slideAppearUpToDown" data-delay="500" data-length="300">
      <h2>We are creative design agency</h2>
      <div class="caption-sub" data-animate="slideAppearDownToUp" data-delay="1200" data-length="300"><h4><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span></h4></div>
      <div class="caption-sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300"><h3>With one to one swipe movement!</h3></div>
    </div>
  </div>
</li>
<li>
  <div class="slide-body" data-group="slide">
    <img src="{{ base_path ~ directory }}/img/2.jpg" alt="">
    <div class="caption header" data-animate="slideAppearDownToUp" data-delay="500" data-length="300">
      <h2>creative design Responsive slider</h2>
      <div class="caption-sub" data-animate="slideAppearUpToDown" data-delay="800" data-length="300"><h4><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </span></h4></div>
      <div class="caption-sub" data-animate="slideAppearRightToLeft" data-delay="1200" data-length="300"><h3>Wonderfull Slides!</h3></div>
    </div>
  </div>
</li>
  <li>
    <div class="slide-body" data-group="slide">
      <img src="{{ base_path ~ directory }}/img/6.jpg" alt="">
      <div class="caption header" data-animate="slideAppearUpToDown" data-delay="500" data-length="300">
        <h2>creative design Custom animations</h2>
        <div class="caption-sub" data-animate="slideAppearLeftToRight" data-delay="800" data-length="300"><h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4></div>
      <div class="caption-sub" data-animate="slideAppearDownToUp" data-delay="1200" data-length="300"><h3><span>New style Slides!</span></h3></div>
    </div>
   </div>
  </li>
</ul>
      {% endif %}
    </div>
    <a class="slider-control left" href="#" data-jump="prev"><i class="fa fa-angle-left fa-2x"></i></a>
    <a class="slider-control right" href="#" data-jump="next"><i class="fa fa-angle-right fa-2x"></i></a>
  </div>
<!-- Responsive slider - END -->
</div>
</section>
<section id="services" class="section pad-bot5 bg-white">
  <div class="container"> 
    <div class="row mar-bot5">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
        <div class="wow bounceIn"data-animation-delay="7.8s">
          <h2 class="section-heading animated"  >Our Service</h2>
          <h4>Neque porro quisquam est, qui dolorem ipsum quia dolor.</h4>
        </div>
        </div>
      </div>
    </div>
    <div class="row mar-bot40">
    {% set related_asset_services =  page.services|render|striptags|trim is not empty %}
    {% if related_asset_services %}
      {{ page.services }}
    {% else %}
    <div class="col-lg-4" >
      <div class="wow bounceIn">
        <div class="align-center">
          <div class="wow rotateIn">
            <div class="service-col">
              <div class="service-icon">
                <figure><i class="fa fa-cog"></i></figure>
              </div>
                <h2><a href="#">Easy to Customize</a></h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="col-lg-4" >
      <div class="align-center">
        <div class="wow bounceIn">
         
          <div class="wow rotateIn">
            <div class="service-col"> 
              <div class="service-icon">
                <figure><i class="fa fa-desktop"></i></figure>
              </div>
                <h2><a href="#">Responsive Layout</a></h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-lg-4" >
      <div class="align-center">
        <div class="wow bounceIn">
          <div class="service-col">
            <div class="service-icon">
              <figure><i class="fa fa-dropbox"></i></figure>
            </div>
              <h2><a href="#">Ready to Use</a></h2>
              <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    </div>  
  </div>
</section>
<!-- team -->
<section id="team" class="team-section appear clearfix">
  <div class="container">
    <div class="row mar-bot10">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
        <div class="wow bounceIn">
        
          <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
        
        </div>
        </div>
      </div>
    </div>
    <div class="row align-center mar-bot45">
    {% set team_memeber_list =  page.team_members|render|striptags|trim is not empty %}
    {% if team_memeber_list %}
      {{ page.team_members }}
    {% else %}
    <div class="col-md-4">
      <div class="wow bounceIn" data-animation-delay="4.8s">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="{{ base_path ~ directory }}/img/members3.jpg" alt=""></figure>
          </div>
          <div class="team-detail">
            <h4>Ron Evgeniy</h4>
            <span>User experiences</span>
          </div>
          <div class="team-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wow bounceIn">
        <div class="team-member">
          <div class="profile-picture">
            <figure><img src="{{ base_path ~ directory }}/img/members3.jpg" alt=""></figure>
          </div>
          <div class="team-detail">
            <h4>Alexander Chernov</h4>
            <span>Web developer</span>
          </div>
          <div class="team-bio">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="wow bounceIn">
      <div class="team-member">
        <div class="profile-picture">
          <figure><img src="{{ base_path ~ directory }}/img/members3.jpg" alt=""></figure>
        </div>
        <div class="team-detail">
          <h4>Jose Manuel</h4>
          <span>Web designer</span>
        </div>
        <div class="team-bio">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, fugiat, harum, adipisci accusantium minus asperiores.</p>
        </div>
      </div>
      </div>
    </div>
   {% endif %} 
   </div>   
  </div>
</section>
    <!-- /team -->
  <!-- section works -->
<section id="section-works" class="section appear clearfix">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-offset-3 col-md-6">
        <div class="section-header">
          <h2 class="section-heading animated" data-animation="bounceInUp">Portfolio</h2>
          <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit, sed quia non numquam.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <nav id="filter" class="col-md-12 text-center">
        <ul>
          <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
          <li><a href="#"  class="btn-theme btn-small" data-filter=".webdesign" >Web Design</a></li>
          <li><a href="#"  class="btn-theme btn-small" data-filter=".photography">Photography</a></li>
          <li ><a href="#" class="btn-theme btn-small" data-filter=".print">Print</a></li>
        </ul>
      </nav>
      <div class="col-md-12">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix" id="3">
             {% set green_theme_portfolio =  page.portfolio|render|striptags|trim is not empty %}
             {% if green_theme_portfolio %}
               {{ page.portfolio }}
              {% else %}
              <article class="col-md-4 isotopeItem webdesign">
                <div class="portfolio-item">
                <div class="wow rotateInUpLeft" data-animation-delay="4.8s">
                  <img src="{{ base_path ~ directory }}/img/portfolio/1.jpg" alt="welcome" />
                </div>
                   <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 1</a></h5>
                      <a href="{{ base_path ~ directory }}/img/portfolio/1.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                     </div>                      
                   </div>
                </div>
              </article>
              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                <div class="wow bounceIn">
                  <img src="{{ base_path ~ directory }}/img/portfolio/2.jpg" alt="" />
                </div>
                   <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 2</a></h5>
                      <a href="{{ base_path ~ directory }}/img/portfolio/2.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                     </div>                      
                   </div>
                </div>
              </article>
              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                <div class="wow rotateInDownRight">
                  <img src="{{ base_path ~ directory }}/img/portfolio/3.jpg" alt="" />
                </div>  
                   <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 3</a></h5>
                      <a href="{{ base_path ~ directory }}/img/portfolio/3.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                     </div>                      
                   </div>
                </div>
              </article>
              <article class="col-md-4 isotopeItem print">
                <div class="portfolio-item">
                <div class="wow rotateInUpLeft">
                  <img src="{{ base_path ~ directory }}/img/portfolio/4.jpg" alt="" />
                 </div> 
                   <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 4</a></h5>
                      <a href="{{ base_path ~ directory }}/img/portfolio/4.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                     </div>                      
                   </div>
                </div>
              </article>
              <article class="col-md-4 isotopeItem photography">
                <div class="portfolio-item">
                <div class="wow bounceIn">
                  <img src="{{ base_path ~ directory }}/img/portfolio/5.jpg" alt="" />
                </div>
                   <div class="portfolio-desc align-center">
                    <div class="folio-info">
                      <h5><a href="#">Project name 5</a></h5>
                      <a href="{{ base_path ~ directory }}/img/portfolio/5.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                     </div>                      
                   </div>
                </div>
                </article>
                <article class="col-md-4 isotopeItem webdesign">
                  <div class="portfolio-item">
                  <div class="wow rotateInDownRight">
                    <img src="{{ base_path ~ directory }}/img/portfolio/6.jpg" alt="" />
                   </div>   
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Project name 6</a></h5>
                        <a href="{{ base_path ~ directory }}/img/portfolio/6.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>
                <article class="col-md-4 isotopeItem print">
                  <div class="portfolio-item">
                  <div class="wow rotateInUpLeft">
                    <img src="{{ base_path ~ directory }}/img/portfolio/7.jpg" alt="" />
                  </div>
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Project name 7</a></h5>
                        <a href="{{ base_path ~ directory }}/img/portfolio/7.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>
                <article class="col-md-4 isotopeItem photography">
                  <div class="portfolio-item">
                  <div class="wow bounceIn">
                    <img src="{{ base_path ~ directory }}/img/portfolio/8.jpg" alt="" />
                  </div>  
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Project name 8</a></h5>
                        <a href="{{ base_path ~ directory }}/img/portfolio/8.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
                </article>
                <article class="col-md-4 isotopeItem print">
                  <div class="portfolio-item">
                  <div class="wow rotateInDownRight">
                    <img src="{{ base_path ~ directory }}/img/portfolio/9.jpg" alt="" />
                  </div>
                     <div class="portfolio-desc align-center">
                      <div class="folio-info">
                        <h5><a href="#">Project name 9</a></h5>
                        <a href="{{ base_path ~ directory }}/img/portfolio/9.jpg" class="fancybox"><i class="fa fa-external-link fa-2x"></i></a>
                       </div>                      
                     </div>
                  </div>
               </article>
            {% endif %}
        </div>            
       </div>
     </div>
    </div>   
  </div>
</section>
{% if page.footer %}
  {% block footer %}
    <section id="footer" class="section footer">
      <div class="container">
        <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
          <div class="col-sm-12 align-center">
            <ul class="social-network social-circle">
                <li><a href="{{ rss_link }}" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="{{ facebook_link }}" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="{{ twiiter_link }}" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ gplus_link }}" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="{{ linkedin_link }}" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>       
          </div>
        </div>
        <div class="row align-center copyright">
          <div class="col-sm-12"><p>{{footer_copy}}<a href="website_link">Bootstrap Themes</a></p></div>
        </div>
      </div>
    </section>
  {% endblock %}
{% endif %}