<div class="header">
  <section id="header" class="appear">
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="fa fa-bars color-white"></span>
          </button>
          <h1><a class="navbar-brand" href="index.html" data-0="line-height:90px;" data-300="line-height:50px;">GREEN
          </a></h1>
        </div>
        <div class="navbar-collapse collapse">
          {% if page.primary_menu %}
            {{ page.primary_menu }}
          {% endif %}  
        </div><!--/.navbar-collapse -->
      </div>    
  </section>
</div>
<section id="section-works" class="section appear clearfix">
  <div class="container">
    {{ page.content }}  
  </div>
</section>
{% if page.footer %}
  {% block footer %}
    <section id="footer" class="section footer">
      <div class="container">
        <div class="row animated opacity mar-bot0" data-andown="fadeIn" data-animation="animation">
          <div class="col-sm-12 align-center">
            <ul class="social-network social-circle">
                <li><a href="{{ rss_link }}" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="{{ facebook_link }}" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="{{ twiiter_link }}" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="{{ gplus_link }}" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="{{ linkedin_link }}" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            </ul>       
          </div>
        </div>
        <div class="row align-center copyright">
          <div class="col-sm-12"><p>{{footer_copy}}<a href="website_link">Bootstrap Themes</a></p></div>
        </div>
      </div>
    </section>
  {% endblock %}
{% endif %}